<p style="color: green"><%= notice %></p>

<div class="categ-index">
  <div class="header header-categ-trans">
  <%= button_to "Logout",
  destroy_user_session_path, method: :delete, class: "logout-btn" %>

    <h1>Categories</h1>
    <%= image_tag('search.svg', class: "icon-search") %>
  </div>

  <div class="total-expenditure">
  <h4> My total expenditure </h4>
  <p> <%= current_user.total_expenditure %> </p>
  </div>



 <div class="categ-body">
  <div id="categories">
  <% @categories.each do |category| %>
    <a href=<%= category_my_transactions_path(category_id: category.id) %>>

    <%= render category %>

    </a>

  <% end %>
  </div>
  <p class="new-categ">
    <%= link_to "Add new category",  new_category_path %>
  </p>
 </div>
</div>
