<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/proxy-nov/fonts.min.css" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
<!---
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      --->

      <%= yield %>
    </div>
  </body>
</html>
